<header class="header">
    <div class="navbar navbar-default navbar-fixed-top slideInDown">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img src="images/logo.png" height="70" alt="">
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" >
                    <li  ui-sref-active="active">
                        <a ui-sref="influencer">Influencers</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="industry({id:1})">Fashion</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="industry({id:2})">Food</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="industry({id:3})">Arts</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="industry({id:4})">Photography</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="industry({id:5})">Beauty</a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="industry({id:6})">Just for a laugh</a>
                    </li>
                </ul>
                <div class="pull-right">
                    <ul class="list-inline pull-left"></ul>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</header>

