<section class="content-wrapper">

    <section class="content" data-ng-controller="influencerController as vm">
        <influencer-gallary title="Fashion" influencers="vm.fashionInfluencers" ></influencer-gallary>
        <influencer-gallary title="Food" influencers="vm.foodInfluencers"></influencer-gallary>
        <influencer-gallary title="Arts" influencers="vm.artInfluencers"></influencer-gallary>
        <influencer-gallary title="Photography" influencers="vm.photographyInfluencers"></influencer-gallary>
        <influencer-gallary title="Beauty" influencers="vm.beautyInfluencers"></influencer-gallary>
        <influencer-gallary title="Just for a laugh" influencers="vm.humorInfluencers"></influencer-gallary>

        </section>
    </section>
