<section class="content-wrapper">
    <section class="content" data-ng-controller="influencerDetailController as vm">

        <div class="row">
            <div class="col-md-8">

                <h2>Statistics <small class="pull-right small"><a href="{{vm.influencer.BlogUrl}}" target="_blank"><i class="fa fa-external-link"></i>{{vm.influencer.Blog}}</a></small></h2>
                <div class="panel panel-padding30 panel-twitter">

                    <div class="row">
                        <div class="col-xs-3 text-center">
                            <img class="thumbnail-o thumbnail-lg" alt=""
                                 src="{{vm.twitterUser.ProfileImgurl}}">
                        </div>
                        <div class="col-xs-9">
                            <h4 class="mb0"><i class="fa fa-twitter"></i>{{vm.twitterUser.UserName}} On Twitter</h4>
                            <p>
                                <i class="icon icon-fw icon-avatar"></i>Screen Name: {{vm.twitterUser.ScreenName}}
                            </p>
                            <p class="ng-binding">
                                <i class="icon icon-fw icon-email"></i> {{vm.twitterUser.Description}}
                            </p>
                            <ul class="user-badges list-unstyled row">
                                <li class="col-xs-4">
                                    <i class="fa fa-comment-o text-success"></i>
                                    <strong>{{vm.twitterUser.FollowersCount}}</strong>
                                    <button class="btn btn-success btn-sm mt15">Followers</button>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-heart-o text-primary"></i>
                                    <strong>{{vm.twitterUser.FriendsCount}}</strong>
                                    <button class="btn btn-info btn-sm mt15">Friends</button>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-twitter text-color"></i>
                                    <strong>{{vm.twitterUser.StatusesCount}}</strong>
                                    <button class="btn btn-primary btn-sm mt15">Total Tweets</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-padding30 panel-instagram" ng-show="vm.show">

                    <div class="row">
                        <div class="col-xs-3 text-center">
                            <img class="thumbnail-o thumbnail-lg" alt="" src="{{vm.instagramUser.ProfilePicture}}">
                        </div>
                        <div class="col-xs-9">
                            <h4 class="mb0"><i class="fa fa-instagram"></i>&nbsp;{{vm.instagramUser.FullName}} on Instagram</h4>
                            <p>
                                <i class="icon icon-fw icon-avatar"></i>Instragram User Name: {{vm.instagramUser.UserName}}
                            </p>
                            <p>
                             Bio:   {{vm.instagramUser.Bio}}
                            </p>
                            <ul class="user-badges list-unstyled row">
                                <li class="col-xs-4">
                                    <i class="fa fa-comment-o text-success"></i>
                                    <strong>{{vm.instagramUser.FollowBy}}</strong>
                                    <button class="btn btn-success btn-sm mt15">Followers</button>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-heart-o text-primary"></i>
                                    <strong>{{vm.instagramUser.Follows}}</strong>
                                    <button class="btn btn-info btn-sm mt15">Following</button>
                                </li>
                                <li class="col-xs-4">
                                    <i class="fa fa-instagram text-color"></i>
                                    <strong>{{vm.instagramUser.CountMedia}}</strong>
                                    <button class="btn btn-primary btn-sm mt15">Posts</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel panel-lined mb30">
                    <div class="panel-body">
                        <div class="col-md-6">
                            <tags title="Top Twitter Hashtags" hashtags="vm.twitterHashtags"></tags>
                        </div>
                        <div class="col-md-6">
                            <tags title="Top Instragram Hashtags" hashtags="vm.instagramHashtags"></tags>
                        </div>
                        </div>
                 </div>

                <div class="panel panel-lined mb30">
                    <div class="panel-heading">
                        <h3 class="panel-title">Buzzy buzzy words (via Twitter Text Analysis)</h3>
                    </div>
                    <highchart id="bubble-chart-container" config="vm.bubbleChartConfig" class="chart-responsive"></highchart>
                </div>

                <div class="panel panel-lined mb30">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tweitter Follower Trend</h3>
                    </div>
                    <highchart id="trend-chart-container" config="vm.trendTwitterChartConfig " class="chart-responsive"></highchart>
                </div>

                <div class="panel panel-lined mb30">
                    <div class="panel-heading">
                        <h3 class="panel-title">Instagram Follower Trend</h3>
                    </div>
                    <highchart id="trend-chart-container" config="vm.trendInstagramChartConfig " class="chart-responsive"></highchart>
                </div>

                </div>
            <div class="col-md-4">
                    <instagram-posts title="Recent Instagram Posts" posts="vm.instagramPosts"></instagram-posts>

                    <tweet-stream title="Recent Tweets" tweets="vm.tweets"></tweet-stream>
            </div>
        </div>
    </section>
</section>
