<div class="panel panel-default">
    <div class="panel-heading">

        <h3 class="panel-title">{{title}}</h3>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" data-ng-repeat="tag in hashtags">
                <div class="tag">
                    <div class="pull-right">
                        {{tag.count}}
                    </div>
                    {{tag.name}}
                </div>
            </li>
        </ul>
    </div>
</div>